<a href="https://colab.research.google.com/github/the-last-crusaderr/Deep-Dive-Into-Python/blob/main/Deep_DIve_Into_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The objective of this project is to exploring the different parts of the language including its strenghts and weaknesses.

# This is divided into parts:-

* Data Types
* Collection Data Types
* Control Structure and Function 
* Modules
* OOP Programming

# Lets start with Data Types

In [ ]:
len( dir(__builtin__) )               # Don't use from this set as a name of identifier.

156

In [ ]:
for _ in range(5):
  print(_)

0
1
2
3
4

In [ ]:
1use = 3                        # Syntax error exception, whenever invalid identifier used

SyntaxError: ignored

In [23]:
x = int(0o21)
print(int('a4',16))

164

In [ ]:
divmod(3,6)

(0, 3)

# Integrals Types

* Integers
* Booleans

In [24]:
# How to create integer data types

# By using literals

x = 12
print(x)

# By using constructor of 0,1,2 arguments


print(int())
print(int(12))
print(int('12',8))



# Binary operator available -  &,|,~,^,<<,>>

12
0
12
10

In [25]:
# How to use boolean



print(True)
print(bool())
print(bool(1))


# 3 logical operator available - and,or,not

True
False
True

In [ ]:
print(round(34,1))
print(round(34.34,1))
print(round(234.34,-1))

34
34.3
230.0